body {
  position: relative;
  color: #333;
  background-color: #f2f2f2;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  padding: 15px;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.inner {
  width: 1100px;
  text-align: center;
  margin: auto;
}

.bolticon {
  color: #4e4e4e;
  float: left;
}

.contact {
  font-size: 12px;
  padding: 14px 12px;
  float: right;
  color:#fff;
  background-color: #74cfae;
  transition: all 0.3s;
}

.contact:hover {
  color: #333;
}

.title {
  padding: 250px;
  background-color: #f2f2f2;
  color: #c0c0c0;
  font-size: 30px;
  text-align: center;
}

.title > h1 {
  margin: 20px;
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}

.concept {
  display: flex;
  padding-top: 50px;
  color: #fff;
  background-color: #74cfae;
}

.concept-photo {
  max-width: 100%;
  height: auto;
}

.concept-inner > h1 {
  font-family: 'Raleway',sans-serif;
  margin: 35px;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.concept-inner {
  margin: 35px;
}

.work {
  padding-bottom: 70px;
  font-size: 12px;
  text-align: center;
}

.work > h1 {
  font-family: 'Raleway',sans-serif;
  padding-top: 60px;
  margin: 40px;
  font-size: 24px;
}  

.work-img {
  display: flex;
  flex-wrap: wrap;
}

.work-img:nth-child(3n) {
  margin-right: 0;
}

.work-img > a {
  margin-right: 100px;
  margin-bottom: 80px;
  opacity: 0.7;
  transition: all 0.3s;
}

.work-img > a:hover {
  opacity: 1;
}

.email {
  padding: 14px 20px;
  margin-left: 90px;
  font-size: 12px;
  color: #fff;
  background-color: #74cfae;
  transition: all 0.3s;
}

.email:hover {
  color: #333;
}

.work-inner {
  display: flex;
}

.skills {
  padding: 70px;
  background-color: #4e4e4e;
}

.skills > h1 {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.circle-img {
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.circle {
  font-size: 16px;
  margin-right: 180px;
  color: #fff;
}

.sns {
  padding: 200px;
}

.sns-icon {
  display: flex;

}

.sns-icon > li {
  box-sizing: border-box;
  width: 185px;
  padding: 30px;
  transition: all 0.3s;
}

.sns-icon > li:hover {
  background-color: #fff;
}

.icon-color {
  color:#74cfae;
}

.footer {
  width: auto;
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 12px;
  color: #fff;
  background-color: #74cfae;
}

.footer-inner {
  text-align: right;
}
